{{- $p := . -}}
<article class="card">
  <a href="{{ $p.RelPermalink }}">
    {{- with $p.Params.cover }}
      {{- with $p.Resources.GetMatch . }}
        {{ partial "image.html" (dict "img" . "alt" $p.Title "sizes" "(max-width: 40rem) 100vw, 17rem") }}
      {{- end }}
    {{- end }}
    <h2>{{ $p.Title }}</h2>
  </a>
  {{- with $p.Params.summary }}<p>{{ . }}</p>{{ end }}
  {{- with $p.Params.tags }}
  <ul class="tags">
    {{- range . }}
    <li><a href="{{ (printf "/tags/%s/" (urlize .)) | relURL }}">{{ . }}</a></li>
    {{- end }}
  </ul>
  {{- end }}
</article>
